{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Add book {% endblock %}

{% block content %}

  <div class="col-md-offset-2 col-md-8">
    <h1 class="page-header">{{book.title}}</h1>
    <p>
      <strong>Author: </strong> {{book.author}}
    </p>
    <p>
      <strong>Publisher: </strong> {{book.publisher}}
    </p>
    <p>
      <strong>Category: </strong> {{book.category.name}}
    </p>
    <a href="{{url_for('books.edit', book_id=book.id)}}">Edit book</a>
  </div>

{% endblock content %}