{% extends "layout.html" %}

{% block body %}

<script>

// /books/<int:book_id>/requests'
function request_book(book_id) {
        var uri = "/books/" + book_id + "/requests"

        $.ajax({
                   url: uri,
                   type: "POST",
                   success: function (data) {
                        alert('Request is successfull')
                   },
                   error: function (jqXHR, textStatus, errorThrown) {
                       console.log(jqXHR);
                       console.log(textStatus);
                       console.log(errorThrown);
                       alert('Error create request');
                   }
               });
    }

</script>

<h2>Book profile page</h2>
<hr/>
{% if book %}
    <div style="font-size:20px">
        <div class="row">
            <p>
                <div class="col-md-2"><b>Title:</b></div>
                <div id="book-title" class="col-md-5">{{ book['title'] }}</div>
            </p>
        </div>
        <div class="row">
            <p>
                <div class="col-md-2"><b>Author:</b></div>
                <div id="book-author" class="col-md-5">{{ book['author'] }}</div>
            </p>
        </div>
        <div class="row">
            <p>
                <div class="col-md-2"><b>Publisher:</b></div>
                <div id="book-publisher" class="col-md-5">{{ book['publisher'] }}</div>
            </p>
        </div>
        <div class="row">
            <p>
                <div class="col-md-2"><b>Category:</b></div>
                <div id="book-category" class="col-md-5">{{ book['category'] }}</div>
            </p>
        </div>
        <div class="row">
            <p>
                <div class="col-md-2"><b>Owner:</b></div>
                <div class="col-md-5">{{ book['owner'] }}</div>
            </p>
        </div>
    </div>
    <br>
    {% if g.user.is_authenticated %}
        {% if owner %}
            <button type="button" class="btn btn-info" style="width: 80px" onclick="edit_book('{{ book["id"] }}')">Edit</button>
            <button type="button" class="btn btn-danger" style="width: 80px" onclick="delete_book('{{ book["id"] }}')">Delete</button>
        {% else %}
            <button id="request-btn" type="button" class="btn btn-success" style="width: 80px" onclick="request_book('{{ book["id"] }}')">Request</button>
        {% endif %}
    {% endif %}
{% endif %}

<div class="modal fade" id="modal_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Book Form</h3>
            </div>
            <div class="modal-body form">
            <form id="form" method="post">

                <div id="title" class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control"  placeholder="Title" name="title">
                </div>

                <div id="author" class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control"  placeholder="Author" name="author">
                </div>

                <div id="publisher" class="form-group">
                    <label for="publisher">Publisher</label>
                    <input type="text" class="form-control" placeholder="Publisher" name="publisher">
                </div>

                <div id="category" class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" placeholder="Category" name="category">
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-update" onclick="update_book()" class="btn btn-warning" >Update</button>
                <button type="button" id="btn-save" onclick="save_book()" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


