{% extends 'base.html' %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello,
            {% if current_user.is_authenticated %}
                {{ current_user.login }}
            {% else %}
                Stranger
            {% endif %}!
        </h1>
    </div>

    <div class="page-body", align="left">
        <h3>Про проект</h3>
        <h4>
            <br>Bookcrossing – платформа для обміну книжками між працівниками компанії SoftServe.</br>
            <br>Для того, щоб отримати вподобану книгу, необхідно зареєструватись у системі та додати власну книжку до полички.</br>
            <br>Ви можете замовити таку кількість вподобаних книг, яку самі запропонуєте іншим користувачам.</br>
            <br>Додайте актуальну поштову скриньку до особистого акаунту, щоб тримати руку на пульсі ваших запитів.</br>
            <br>Не зволікайте перевіряти сторінку запитів та реагувати на них, щоб прискорити подорож книги до нового власника.</br>
            <br>Усього найкращого і ласкаво просимо.</br>
        </h4>
    </div>
{% endblock %}