{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>This is your profile, {{ current_user.login }}</h1>
        <a class="btn btn-default" href="/users/"> Users List</a>
    </div>

    <div class="well">
    Login - {{ current_user.login|e }}<br>
    email - {{ current_user.email|e }}<br>
    First Name - {{ current_user.first_name|e }}<br>
    Last Name - {{ current_user.last_name|e }}<br>
    Office - {{ current_user.office|e }}<br>
    Phone - {{ current_user.phone_number|e }}<br>
    </div>

    <div>
        <br />
        <form method="get" action="/edit/">
            <button class="btn btn-default" type="submit">Edit Profile</button>
        </form>
    </div>

{% endblock %}