{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h1 class="page-header">Already registered users:</h1>
    {% for user in users %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="/profile/{{user.id}}" class="panel-title">Login - {{ user.login }}</a>
                </div>
                <div class="panel-body">
                    email - {{ user.email|e }}<br>
                </div>
            </div>
    {% endfor %}
{% endblock %}