{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>This is your profile, {{ current_user.login }}</h1>
        <a class="btn btn-default" href="/users_list"> Users List</a>
    </div>

<div style="font-size:20px">
    <div class="row">
        <p>
        <div class="col-md-2"><b>Login:</b></div>
        <div id="user-login" class="col-md-5">{{ current_user.login|e }}</div>
        </p>
    </div>
    <div class="row">
        <p>
        <div class="col-md-2"><b>Email:</b></div>
        <div id="user-email" class="col-md-5">{{ current_user.email|e }}</div>
        </p>
    </div>
    <div class="row">
        <p>
        <div class="col-md-2"><b>First Name:</b></div>
        <div id="user-first_name" class="col-md-5">{{ current_user.first_name|e }}</div>
        </p>
    </div>
    <div class="row">
        <p>
        <div class="col-md-2"><b>Last Name:</b></div>
        <div id="user-last_name" class="col-md-5">{{ current_user.last_name|e }}</div>
        </p>
    </div>
    <div class="row">
        <p>
        <div class="col-md-2"><b>Office:</b></div>
        <div class="col-md-5">{{ current_user.office|e }}</div>
        </p>
    </div>
    <div class="row">
        <p>
        <div class="col-md-2"><b>Phone:</b></div>
        <div class="col-md-5">{{ current_user.phone_number|e }}</div>
        </p>
    </div>
</div>


<div>
    <br />
    <form method="post" action="/edit_profile/">
        <button class="btn btn-default" type="submit">Edit Profile</button>
    </form>

</div>

{% endblock %}