{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <h1>Already registered users:</h1>
    <ul>
    {% for user in users %}
        <div class="panel panel-default">
            <div class="panel-body">
                Login - {{ user.login|e }}<br>
                email - {{ user.email|e }}<br>
                First Name - {{ user.first_name|e }}<br>
                Last Name - {{ user.last_name|e }}<br>
                Office - {{ user.office|e }}<br>
                Phone - {{ user.phone_number|e }}<br>
             </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}